<br><h5>Autentificat ca <%= username %>!</h5><br>
<h1>Adăugare produse</h1><br>

<div class="container">
    <form action="/adaugare_produse"  method="post">
        <div class="form_label">
            <label for="name"><b>Produs: </b></label><br>
            <input type="text" id="name" name="name" placeholder="Introdu numele produsului"><br>
            <label for="price" ><b>Preț: </b></label><br>
            <input type="number" id="price" name="price" placeholder="Introdu prețul"><br><br>
        </div>
        <button type="submit">Adaugă</button>
    </form>

    <% if(message) {%>
        <p style="color: red"><%= message %></p>
    <% } %>
</div>